<!-- Bootstrap CSS Styling -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- Use div to center everything on the page -->
<div class="container text-center">
<h1>About</h1>

<p>This is a password generator created by Jason Hazenfield.</p>

<br>
<br>

<!-- Link a way back to home page -->
<a href="{% url 'home' %}">Home</a>
</div>
